.next/
node_modules/
out/
dist/
.open-next/
.wrangler/
.sanity/
public/studio/
public/static/
.dev.vars
.env
.env*.local
pnpm-lock.yaml
pnpm-workspace.yaml
*.tsbuildinfo
next-env.d.ts
dev-*.log
cloudflare-env.d.ts
*.zip
